<div class="row">
  <div class="col-xs-12">
    <!--By element navigation routing-->
    <!--<button class="btn btn-success" routerLink="new">New Recipe</button>-->
    <!--By programmatic navigation routing-->
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!--V1 - We have an void emitter and the element selected is handled by the recipe list component-->
    <!--<app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeEmitter)="onRecipeSelected(recipeEl)"></app-recipe-item>-->
    <!--V2 - We have an Recipe emitter and the element selected is handled by the recipe item component-->
    <!--<app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeEmitter)="onRecipeSelected($event)"></app-recipe-item>-->
    <!--V3 - Using a Service in the recipe item, so no need to use property and event binding to communicate-->
    <!--<app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl"></app-recipe-item>-->
    <!--V4 - Routing-->
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index"
                     [recipe]="recipeEl"
                     [index]="i"
                     ></app-recipe-item>
  </div>
</div>
