<div class="row">
  <div class="col-md-5">
    <!--V3 - Using a Service in the recipe item, so no need to use property and event binding to communicate-->
    <!--<app-recipe-list (recipeSelectedEmitter)="onRecipeSelected($event)"></app-recipe-list>-->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!--
    <app-recipe-detail
                       *ngIf="recipeSelected; else infoText"
                       [recipeSelected]="recipeSelected"></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template>
    -->
    <router-outlet></router-outlet>
  </div>
</div>
