<!--<p>recipe-edit component in editMode: {{ editMode }}</p>-->
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm"
          (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   type="text"
                   formControlName="name"
                   class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input id="imagePath"
                   type="text"
                   formControlName="imagePath"
                   class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description"
                      type="text"
                      formControlName="description"
                      class="form-control"
                      rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <!--The ingredientCtrl is a FormArray that holds the FormGroup.
            We use the index of the FormGroup as the name, so we can have access to the FormControls inside it for the inputs.-->
          <div class="row"
               *ngFor="let ingredientCtrl of controls; let i = index"
               [formGroupName]="i"
               style="margin-top: 5px;">
            <div class="col-xs-8">
              <input id=""
                     type="text"
                     formControlName="name"
                     class="form-control" />
            </div>
            <div class="col-xs-2">
              <input id=""
                     type="number"
                     formControlName="amount"
                     class="form-control" />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button type="button"
                      class="btn btn-success"
                      (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
